body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff9db; /* 연노란색 배경 */
    color: #333;
    text-align: center;
}

header {
    background-color: #ffeb99; /* 연노란색 강조 */
    padding: 20px;
    border-bottom: 4px solid #ffcc33;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

.about, .contact, .project {
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about icon {
    font-size: 3rem; /* 원하는 크기로 조정 */
}

.project icon {
    font-size: 3rem; /* 원하는 크기로 조정 */
}

.contact icon {
    font-size: 3rem; /* 원하는 크기로 조정 */
}

h2 {
    color: #ffcc33;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background-color: #ffeb99;
    border-top: 2px solid #ffcc33;
}
